#ball {
    width: 70px;
    height: 70px;
}

.squash {
    animation: squash 2.5s linear infinite;
}

@keyframes squash {
    0% {
        transform: translate(0vw, 2vw) scaleY(1);
    }
    5% {
        transform: translate(5vw, 7vw) scaleY(1.2);
    }
    10% {
        transform: translate(10vw, 12vw) scaleY(1.2);
    }
    15% {
        transform: translate(14vw, 27vw) scaleY(1.2);
    }
    25% {
        transform: translate(14vw, 30vw) scaleY(0.7);
    }
    30% {
        transform: translate(16vw, 25vw) scaleY(1);
    }
    50% {
        transform: translate(23vw, 11vw) scaleY(1.2);
    }
    55% {
        transform: translate(25vw, 15vw) scaleY(1.2);
    }
    65% {
        transform: translate(31vw, 30vw) scaleY(0.7);
    }
    75% {
        transform: translate(34vw, 20vw) scaleY(1);
    }
    90% {
        transform: translate(40vw, 30vw) scaleY(0.7);
    }
    95% {
        transform: translate(45vw, 24vw) scaleY(1);
    }
    100% {
        transform: translate(50vw, 30vw) scaleY(0.7);
    }
}
